.message-reaction{

  position:absolute;

  display:flex;
  align-items:center;
  justify-content:center;

  min-width:24px;
  height:24px;

  padding:2px 5px;

  border-radius:999px;

  background:#fff;

  box-shadow:0 2px 6px rgba(0,0,0,.18);

  font-size:15px;

  z-index:5;

}

/* Texto */

.reaction-text{

  right:8px;
  bottom:-10px;

}

/* Imagen */

.reaction-image{

  right:8px;
  bottom:-10px;

}

/* Imagen con texto */

.reaction-image-caption{

  right:8px;
  bottom:-10px;

}